# Wine quality prediction

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("winequality_red.csv")
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
data.shape

(1599, 12)

In [5]:
data["quality"].unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [6]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [7]:
data.drop(["Id"], axis=1, inplace = True)
data.head()

KeyError: "['Id'] not found in axis"

# Train Test Split
Firstly we well categorize independent variable in x and dependent variable in y and then after we will perform the train test split method.

In [8]:
x = data.drop(["quality"],axis = 1)
y = data["quality"]

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.15, random_state = 42)

In [10]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1359, 11) (240, 11) (1359,) (240,)

# Linear regression

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
model.fit(x_train, y_train)

LinearRegression()

In [13]:
from sklearn.metrics import mean_squared_error
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.39170605672576986

# Logistic Regression

In [14]:
from sklearn.linear_model import LogisticRegression
model_2 = LogisticRegression()
model_2.fit(x_train, y_train)

C:\Users\neeraj\anaconda3\New\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [15]:
y_pred_2 = model_2.predict(x_test)
mse = mean_squared_error(y_test, y_pred_2)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.5875

# Decision Trees Regresssion

In [16]:
from sklearn.tree import DecisionTreeRegressor

In [17]:
model_dt = DecisionTreeRegressor()

In [18]:
model_dt.fit(x_train, y_train)

DecisionTreeRegressor()

In [19]:
from sklearn.metrics import mean_squared_error
y_pred_dt = model_dt.predict(x_test)
mse = mean_squared_error(y_test, y_pred_dt)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.7208333333333333

# SVM Regression

In [20]:
from sklearn.svm import SVR

In [21]:
model_svm = SVR()

In [22]:
model_svm.fit(x_train, y_train)

SVR()

In [23]:
y_pred_svm = model_svm.predict(x_test)
mse = mean_squared_error(y_test, y_pred_svm)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.5332709331395915

# Thus we can do future predictions using Logistic Regression model as it is giving us the best result.